<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= link_to "ログイン", admin_session_path %>
    <%= link_to "トップページ", admins_homes_top_path %>
    <%= link_to "商品一覧", admins_items_path %>
    <%= link_to "商品新規登録", new_admins_item_path %>
    <%= link_to "商品詳細", admins_item_path(1) %>
    <%= link_to "商品編集",  edit_admins_item_path(1) %>
    <%= link_to "ログアウト",  destroy_admin_session_path, method: :delete %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
